#menu ul {
    background-color: rgb(153, 150, 150);
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

#menu ul li {
    width: auto;
    padding-top: 0;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    border-bottom: none;
}

#menu ul li a {
    text-decoration: none;
}

#menu ul li:hover a {
    color: #000;
}

#menu ul li:hover {
    background-color: rgb(223, 221, 221);
}

#menu {
    width: 100%;
    height: 1000px;
    overflow: auto;
    float: left;
    padding-right: 0;
    padding-left: 0;
}

#menu input {
    margin: auto;
    width: 90%;
}