<div class="col-8 center" style="width: 1000px; overflow:auto;">
    <!--<input placeholder="your name:" [(ngModel)]="name">-->
    <!--<h1>your name : {{ name }}</h1>-->
    <!--<div> Months :-->
        <!--<select>-->
            <!--<option *ngFor="let i of months"  >{{ i }}</option>-->
        <!--</select>-->
    <!--</div>-->
    <!--<select [(ngModel)]="filterStatus">-->
        <!--<option value="Xem-tat-ca">Xem tất cả</option>-->
        <!--<option value="Xem-tu-da-nho">Xem từ đã nhớ</option>-->
        <!--<option value="Xem-tu-chua-nho">Xem từ chưa nhớ</option>-->
    <!--</select>-->
    <!--<div>-->
        <!--<div *ngFor="let per of person">-->
            <!--<div *ngIf="getShowStatus(per.country)">-->
                <!--<h3 [ngStyle]="{ color: per.country ? 'red' : 'blue' }">{{ per.name }}</h3>-->

                <!--<button (click)="removeperson( per.id);">Xóa</button>-->
                <!--<button (click)="per.country = !per.country">-->
                    <!--{{ per.country ? 'da thuoc': ' chua thuoc' }}-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<p *ngIf="isShow">anh kool</p>-->

        <!--<button (click)="isShow = !isShow">click</button>-->
    <!--</div>-->
    <!--<input (keyup)="callFun($event)">-->
    <!--<div>-->
        <!--<h3>Ket qua tim kiem</h3>-->
        <!--<p *ngFor="let item of arrayResponse">-->
            <!--{{item}}-->
        <!--</p>-->
    <!--</div>-->
    <!--<h3>gia tri tra về: {{ pos }}</h3>-->
    <!--<h3>gia tri tra về: {{ last }}</h3>-->
    <!--<form>-->
        <!--First name:<br>-->
        <!--<input type="text" name="firstname" value="Mickey"><br> Last name:<br>-->
        <!--<input type="text" name="lastname" value="Mouse"><br><br>-->
        <!--<input type="submit">-->
    <!--</form>-->
    <!--<app-center-test (myClick)="value = value +1"></app-center-test>-->
    <!--<h3>ket qua tra ve la {{ value }}</h3>-->
    <!--<app-center-test (myClick)="banevent($event)"></app-center-test>-->
    <!--<h3>{{ nameparen }}</h3>-->
    <!--<ul style="display: inline-block">-->
        <!--<li *ngFor="let employee of employees; let i = index">{{i+1}}: {{employee.name}}</li>-->
      <!--&lt;!&ndash;<buton (click)="deleteID(2)">Xóa</buton>&ndash;&gt;-->
    <!--</ul>-->


    <!-- danh sach truong hoc -->
    <app-school></app-school>
    <!-- end -->
  <!-- danh sách học sinh -->
  <app-student></app-student>
  <!-- end -->
</div>
