<div>
    <div>
        <app-header></app-header>
    </div>
    <div>
        <app-left></app-left>
        <app-center>

        </app-center>
        <app-right></app-right>
        <div style="clear: both"></div>
        <app-footer name="anh kool" age="21"></app-footer>
    </div>
</div>