<div class="row">
  <!-- form them moi -->
  <div class="col-md-12">
    <h3>Thêm mới học sinh</h3>
    <div style="float: right">
      <button type="submit" class="btn btn-info" class="btn btn-primary" data-toggle="modal" data-target="#studentModal">
        Add
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Danh sach học sinh</h2>
    <table class="table">
      <thead class="thead-dark">
      <tr *ngFor="let student of studentsModel">
        <td scope="col">{{student.id}}</td>
        <td scope="col">{{student.name}}</td>
        <td scope="col">{{student.createdAt}}</td>
        <td scope="col">{{student.age}}</td>
        <td scope="col">{{student.address}}</td>
        <td scope="col">
          <button class="btn btn-primary" (click)="onDelete(student.id)">Xóa</button>
        </td>
        <td scope="col">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studentModal"
                  (click)="getByidStudent(student.id)">
            Sửa
          </button>
        </td>
      </tr>
      </thead>
    </table>
  </div>

  <!-- modal -->
  <!-- Modal -->
  <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Add</label>
              <div class="col-sm-6">
                name :<input [(ngModel)]="studentModel.name" type="text" name="userName" class="form-control"/>
                createdAt :<input [(ngModel)]="studentModel.createdAt" type="text" name="createdAt" class="form-control"/>
                address :<input [(ngModel)]="studentModel.address" type="text" name="address" class="form-control"/>
                age :<input [(ngModel)]="studentModel.age" type="text" name="age" class="form-control"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!studentModel.id" (click)="onAddStudent()">Add</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="studentModel.id" (click)="onUpdateStudent()">Update</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
</div>
