<div class="row">

  <!-- form them moi -->
  <div class="col-md-12">
    <h3>Thêm mới trường học</h3>
    <div style="float: right">
      <button type="submit" class="btn btn-info" class="btn btn-primary" data-toggle="modal" data-target="#schoolModal">
        Add
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Danh sach truong hoc</h2>
    <table class="table">
      <thead class="thead-dark">
      <tr *ngFor="let school of schoolsModel">
        <td scope="col">{{school.id}}</td>
        <td scope="col">{{school.name}}</td>
        <td scope="col">{{school.createdAt}}</td>
        <td scope="col">
          <button class="btn btn-primary" (click)="onDelete(school.id)">Xóa</button>
        </td>
        <td scope="col">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#schoolModal"
                  (click)="getById(school.id)">
            Sửa
          </button>
        </td>
      </tr>
      </thead>
    </table>
  </div>

  <!-- modal -->
  <!-- Modal -->
  <div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-6">
                <input [(ngModel)]="schoolModel.name" type="text" name="userName" class="form-control"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!schoolModel.id" (click)="onAdd()">Add</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="schoolModel.id" (click)="onUpdate()">Update</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
</div>
